<section class="contactForm">
    <h2 class="contactForm_title">Зв'язатися з нами</h2>
    <div class="contactForm_container">
    <form class="contactForm_form" action="">         
        <input class="contactForm_input" type="text" placeholder="Ім'я">
        <label class="contactForm_label"><input class="contactForm_input input-tel" type="tel" class="placeholder" placeholder="Номер телефону">
            <span class="contactForm_asterisk asterisk-tel">*</span></label>
        <label class="contactForm_label"><input class="contactForm_input input-email" type="email" placeholder="E-mail ">
            <span class="contactForm_asterisk asterisk-email">*</span></label>
        <input class="contactForm_input" type="text" placeholder="Товар/послуга, які Вас цікавлять">
        <label class="contactForm_label"><textarea class="contactForm_input input-massage" type="text" maxlength="500" placeholder="Повідомлення"></textarea>
            <span class="contactForm_asterisk asterisk-massage">*</span></label>
        <button class="projects_button black-button btn" type="submit">Відправити  <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 11.5a.5.5 0 0 1 .5-.5h16a.5.5 0 1 1 0 1h-16a.5.5 0 0 1-.5-.5Z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.646 7.646a.5.5 0 0 1 .708 0l3.853 3.854-3.853 3.853a.5.5 0 0 1-.708-.707l3.147-3.146-3.147-3.147a.5.5 0 0 1 0-.707Z" fill="#fff"/></svg></button>
    </form>
    <img class="contactForm_img" src="../images/formImg.png" alt="contactWithComany">
</div>
</section>