<section class="home">
    <div class="home_carousel">
        <div class="home_carousel-title">
            <h1 class="home_carousel-title--light" >project </h1>
            <p class="home_carousel-title--bold">home</p>
        </div>
        
        <div class="home_carousel-arrows">
            <svg class="home_carousel-arrows-left" width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="52" height="52" fill="white" stroke="#F2F2F2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36 26.5C36 26.2239 35.7761 26 35.5 26L19.5 26C19.2239 26 19 26.2239 19 26.5C19 26.7761 19.2239 27 19.5 27L35.5 27C35.7761 27 36 26.7761 36 26.5Z" fill="#333333"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3536 22.6464C23.1583 22.4512 22.8417 22.4512 22.6464 22.6464L18.7929 26.5L22.6464 30.3536C22.8417 30.5488 23.1583 30.5488 23.3536 30.3536C23.5488 30.1583 23.5488 29.8417 23.3536 29.6464L20.2071 26.5L23.3536 23.3536C23.5488 23.1583 23.5488 22.8417 23.3536 22.6464Z" fill="#333333"/>
                </svg>
                <div class="home_carousel-arrows-right">
                    <svg  width="54" height="53" viewBox="0 0 54 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.43521" y="0.5" width="52" height="52" fill="#F9F9F9" stroke="#F2F2F2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9352 26.5C18.9352 26.2239 19.1591 26 19.4352 26L35.4352 26C35.7114 26 35.9352 26.2239 35.9352 26.5C35.9352 26.7761 35.7114 27 35.4352 27L19.4352 27C19.1591 27 18.9352 26.7761 18.9352 26.5Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.5817 22.6464C31.7769 22.4512 32.0935 22.4512 32.2888 22.6464L36.1423 26.5L32.2888 30.3536C32.0935 30.5488 31.7769 30.5488 31.5817 30.3536C31.3864 30.1583 31.3864 29.8417 31.5817 29.6464L34.7281 26.5L31.5817 23.3536C31.3864 23.1583 31.3864 22.8417 31.5817 22.6464Z" fill="#333333"/>
                        </svg>
                        <svg width="100%" height="1" viewBox="0 0 271 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="271" y1="0.5" x2="4.37114e-08" y2="0.500024" stroke="#F2F2F2"/>
                            </svg>
                    
                </div>
                
        </div>
        <div class="home_pagination">
            <p class="home_pagination-current">01</p>
            
                <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="-1" x2="43.8219" y2="-1" transform="matrix(-0.706805 0.707408 -0.706805 -0.707408 31.9284 0)" stroke="#E0E0E0" stroke-width="2"/>
                    </svg>
                    
            
            <p class="home_pagination-all">02</p>
        </div>
    </div>
    <div class="home_project">
        <img src="../images/houseHome.png" alt="houseProgect">
        <button class="home_project-look white-btn btn--link btn">
        переглянути
            
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 11.5C3 11.2239 3.22386 11 3.5 11L19.5 11C19.7761 11 20 11.2239 20 11.5C20 11.7761 19.7761 12 19.5 12L3.5 12C3.22386 12 3 11.7761 3 11.5Z" fill="#333333"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6464 7.64645C15.8417 7.45118 16.1583 7.45118 16.3536 7.64645L20.2071 11.5L16.3536 15.3536C16.1583 15.5488 15.8417 15.5488 15.6464 15.3536C15.4512 15.1583 15.4512 14.8417 15.6464 14.6464L18.7929 11.5L15.6464 8.35355C15.4512 8.15829 15.4512 7.84171 15.6464 7.64645Z" fill="#333333"/>
                </svg>
            </button>
        
    </div>
</section>