


@font-face {
    font-family: 'TT Hoves Bold';
    src: url('TTHoves-Bold.eot');
    src: local('TT Hoves Bold'), local('TTHoves-Bold'),
        url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'TT Hoves Regular';
    src: url('./TTHoves-Regular.eot');
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('./TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('./TTHoves-Regular.woff2') format('woff2'),
        url('./TTHoves-Regular.woff') format('woff'),
        url('./TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('./TTHoves-Hairline.eot');
    src: local('TT Hoves Hairline'), local('TTHoves-Hairline'),
        url('./TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
        url('./TTHoves-Hairline.woff2') format('woff2'),
        url('./TTHoves-Hairline.woff') format('woff'),
        url('./TTHoves-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'TT Hoves Light';
    src: url('./TTHoves-Light.eot');
    src: local('TT Hoves Light'), local('TTHoves-Light'),
        url('./TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('./TTHoves-Light.woff2') format('woff2'),
        url('./TTHoves-Light.woff') format('woff'),
        url('./TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves Medium ';
    src: url('TTHoves-Medium.eot');
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.eot') format('woff2'),
        url('TTHoves-Medium.eot') format('woff'),
        url('TTHoves-Medium.eot') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}