@import "../fonts/stylesheet.css";

@mixin flex-column-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}