@import "mixines";

.about {
  display: flex;
  padding: 30px 90px 0;
  background: #fbfbfb;
  &_images {
    flex: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0px 235px 140px;
    gap: 30px;

    &-item-2 {
      grid-column: 2;
      grid-row: 2 / span 3;
    }
    &-item-3 {
      grid-column: 1;
      grid-row: 3 / span 2;
    }
  }
  &_text {
    &-container {
      flex: 4;
      margin-left: 30px;
    }
    &-title {
      white-space: nowrap;
    }
    &-article {
      font-family: "TT Hoves Light", sans-serif;
      margin-top: 30px;
      color: #000000;
      line-height: 25px;
      text-align: left;
      &-link {
        margin-top: 30px;
        width: min-content;
      }
    }
  }
}
