.contactForm {
  padding-bottom: 100px;

  &_container {
    margin-top: 35px;
    display: flex;
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_label {
    position: relative;
  }
  &_input {
    font-family: "TT Hoves Regular", sans-serif;
    letter-spacing: 0.1em;
    border: none;
    background-color: #f3f3f3;
    width: 391px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  &_img {
    flex: 2;
    margin-left: 30px;
    height: 369px;
  }
  &_asterisk {
    position: absolute;
    color: red;
    top: 10px;
  }
}
.input-massage {
  padding-top: 15px;
  height: 147px;
}

.asterisk {
  &-tel {
    left: 140px;
  }
  &-email {
    left: 66px;
  }
  &-massage {
    left: 125px;
  }
}
