.footer {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  color: #fff;
  background-color: #2c2c2c;
  &_logo {
    width: 145px;
    height: 94px;
  }
  &_container {
    padding: 42px 210px 0 116px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
  &-list-title {
    font-family: "TT Hoves Bold", sans-serif;
    margin-bottom: 45px;
    font-size: 16px;
  }
  &_logo path {
    fill: #fff;
  }
  &_container {
    display: flex;
  }
  &-list-item {
    margin-bottom: 30px;
    & a {
      font-family: "TT Hoves Medium", sans-serif;

      color: #fff;
      font-size: 14px;
    }
  }
  &_contants--list-item-link {
    display: flex;
    gap: 10px;
    & svg {
      width: 25px;
    }
  }
  &_social {
    &-list {
      display: flex;
      gap: 40px;
    }
  }
  &_copyright {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c8c8c8;
    opacity: 50%;
    font-family: "Open Sans";
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
      margin-bottom: 20px;
    }
  }
}
