@import "mixines";

.header {
  font-family: "TT Hoves Regular", sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  top: 0;
  width: 100%;
  max-width: 1170px;
  box-sizing: border-box;
  padding: 40px 130px 40px 0;
  margin: auto;
  z-index: 999;
  &_logo {
    display: flex;
    flex-direction: column;
    & svg {
      box-sizing: border-box;
    }
  }
  &_menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &_menu-item {
    list-style: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-color 0.3s ease;
    & a {
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    &:hover {
      border-bottom-color: #333;
      border-top-color: #333;
    }
  }
  &_contacts {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border-color 0.3s ease;
    &:hover {
      border-bottom: 2px solid #333;
      border-top: 2px solid #333;
    }
    & a {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.2em;
    }
  }
}
