.home {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  &_carousel {
    flex: 4;
    padding: 300px 0 100px 0;
    @include flex-column-between;
    &-title {
      display: flex;
      flex-direction: column;

      &--light {
        color: #bdbdbd;
      }
      &--bold {
        font-family: "TT Hoves Bold", sans-serif;
        font-weight: 700;
        font-size: 64px;
        color: #333;
      }
    }
    &-arrows {
      display: flex;
      gap: 15px;
      align-items: center;
      &-right {
        display: flex;
        align-items: center;
        width: 100%;
      }
    }
  }
  &_pagination {
    color: #bdbdbd;
    display: flex;
    font-family: "TT Hoves Regular", sans-serif;
    gap: 30px;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
  }
  &_project {
    flex: 7;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
    }

    &-look {
      position: absolute;
      bottom: 0;
      left: -1px;
    }
    & img {
      max-width: 100%;
      height: auto;
    }
  }
}
