.tasks {
  &_container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }
  &_block {
    display: flex;
    gap: 20px;
    & svg {
      min-width: min-content;
    }
  }
  &_text {
    word-wrap: break-word;
    height: 100%;
    font-family: "TT Hoves Regular", sans-serif;
    font-size: 22px;
    line-height: 36px;
  }
}
