@import "header";
@import "home";
@import "aboutCompany";
@import "mainTasks";
@import "ourProject";
@import "contactForm";
@import "footer";
@import "../fonts/stylesheet.css";

a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-family: "TT Hoves Light", sans-serif;
  font-size: 64px;
  color: #bdbdbd;
}
.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  padding: 0 135px;
}
section {
  margin-top: 120px;
}
.btn {
  font-family: "TT Hoves Regular", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2em;
  @include flex-center;
  gap: 10px;
  width: 222px;
  height: 71px;
  text-transform: uppercase;
  border: none;
  background-color: transparent; 
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
.white-btn {
  background-color: #fff;
  color: #333333;
  
}

.black-button {
  color: #fff;
  background-color: rgb(51, 51, 51);
 
}
