.projects {
  &_gallary {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 270px 270px 170px 370px;
    grid-template-rows: repeat(2, 255px);
    gap: 30px;
    &--item {
      position: relative;
      
    }
    &--project-name {
    
      display: none;
    }
    &--grid-item-1 {
      grid-column: 1 / span 2;
    }
    &--grid-item-2 {
      grid-column: 3 / span 2;
    }
    &--grid-item-3 {
      grid-row: 2;
      grid-column: 1;
    }
    &--grid-item-4 {
      grid-row: 2;
      grid-column: 2 / span 2;
    }
  }
  &_button {
    margin-top: 30px;
    float: right;
  }
}
.active {
  font-family: "TT Hoves Bold", sans-serif;
  text-transform: uppercase;
  @include flex-center;
  font-size: 58px;
  box-sizing: border-box;
 padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;

  align-items: start;
  & .btn{
justify-content: start;
  }
}
